[Unit]
Description=Catalogue Service
After=network.target

[Service]
User=ec2-user
Environment=MONGODB_HOST=mongodb.harshithdaws86s.fun
ExecStart=/bin/node /app/server.js
Restart=always

[Install]
WantedBy=multi-user.target
